.electronics {
    margin: 140px 0 0 0;
    justify-content: space-between;
}

.electronics a {
    text-decoration: none;
}

.electronicProduct {
    border: 1px solid #0000003c;
    padding: 20px;
    border-radius: 5px;
    width: 23%;
    margin: 0 22px 22px 0;
}

.electronics .col-lg-3 {
    width: 23%;
}

.electronicProduct img {
    width: 100%;
    height: 150px;
}

.electronicProduct h4 {
    font-family: estedad;
    font-size: 18px;
    color: #046865;
    font-weight: bold;
    padding: 10px 10px 0 10px;
}

.electronicProduct p {
    font-family: estedad;
    font-size: 14px;
    color: #e53d00;
    padding: 10px 10px 0 10px;
}

@media screen and (max-width:1400px) {

    .electronicProduct {
        width: 22% !important;
    }

}

@media screen and (max-width:992px) {

    .electronicProduct {
        width: 29% !important;
    }

}

@media screen and (max-width:992px) {

    .electronicProduct {
        width: 44% !important;
    }

}

@media screen and (max-width:500px) {

    .electronicProduct {
        width: 43% !important;
    }

    .electronicProduct h4 {
        font-size: 12px;
    }

}

@media screen and (max-width:420px) {

    .electronicProduct {
        width: 40% !important;
    }

}